* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #34303f;
    color: white;
}

body,
input,
button,
textarea {
    font: 400 16px 'Roboto', sans-serif;
}